@import url('registoperitos.css');

.title-row {
    display: flex;
    align-items: center; /* alinha imagem e texto verticalmente */
    gap: 15px; /* espaço entre imagem e texto */
    padding-top: 40px;
  }
  
  .title-icon {
    background-color: #FFC107;
    padding: 10px;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    object-fit: contain; /* garante que a imagem se encaixe bem */
  }
  
  .page-title {
    font-size: 34px;
    color: #1a3d63;
    font-weight: bold;
    padding: 20px 0;
    margin-left: 230px;
    margin-top: 20px;
  }

  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    background-color: #EBF6FF;; 
    padding: 6px 10px;
    border-radius: 10px;
    width: 160px; /* menor largura */
    gap: 6px;
    justify-content: flex-end;
    height: 35px;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
  }
  
  .search-container input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 13px;
    color: #1a3d63;
    width: 100%;
  }
 
  
  .form-container {
    background: white;
    padding: 45px;
    border-radius: 20px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 230px;
  }
  
  .form-container h2 {
    color: #1a3d63;
    margin: 0 0 0px;
    font-size: 26px;
  }

  
.cost-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

.cost-table thead {
  color: #1a3d63;
  font-weight: bold;
  border-bottom: 3px solid #FFC107; /* Linha amarela sob o cabeçalho */
}

.cost-table th, .cost-table td {
  padding: 12px;
  text-align: center;
}

.cost-table tbody tr {
  border-bottom: 1px solid #ccc; /* Linha cinza entre os dados */
}

.cost-table tr:hover {
  background-color: #f0f6fc;
}

